b {

}

.wd-fa-half {
    font-size:0.5em;
}


#tuit-button.btn-primary.override-bs {
    border-radius: 30px;
    width: 100%;
}

#tuit-list.list-group.override-bs {
    border-radius: 0px;
}

.wd-border-radius-30 {
    border-radius: 30px;
}

.wd-col-100px {
    width: 100px;
}

.wd-tuit-image {
    width: 100px;
    height: 100px;
}

.wd-tuit-profile-image {
    width: 50px;
    height: 50px;
}